@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* --- Navbar --- */
.nav-bar{
  height: 70px;
  background-color: rgb(222, 194, 194);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar h2{
  font-size: 30px;
}

.nav-bag{
  display: flex;
  align-items: center;
}

.bag-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

.bag-quantity span{
  color: rgb(222, 194, 194);
}

/* --- /Navbar --- */

/* --- Not Found page --- */
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2{
  font-size: 55px;
}

.not-found p{
  font-size: 20px;
}

/* --- /Not Found page --- */

/* --- Home page --- */

.home-container{
  padding: 2rem 4rem;
}

.home-container h2{
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product{
  width: 300px;
  max-width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 4px rgba(168, 168, 168, 0.5);
}

.product img{
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.product h3{
  font-size: 25px;
  font-weight: 400;
}

.product .details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.product .details .price{
  font-size: 20px;
  font-weight: 700;
}

.product button{
  border-radius: 15px;
  margin-top: 10px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background: rgb(222, 194, 194);
  color: white;
  letter-spacing: 1.15px;
  height: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* --- /Home page --- */